# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database
.db
db.sqlite3
db.sqlite3-journal

# Environment
.env
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Testing
.coverage
.mypy_cache/
.pytest_cache/

# Logs
*.log

# The price we pay for nice UI
.DS_Store
